<html lang="en">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>NGD - Reyzeal Prototype</title>
    </head>
	<body>
		<div class="container py-5">
			<h1 class="display-4 text-center">Custom Normalized Google Distance</h1>
			{% if result is defined %}
				<div class="text-center py-5">
					<h3 class="text-secondary">{{ result }}</h3>
					<p>Term 1: "{{term1}}" Term 2: "{{term2}}" N : {{N}}</p>
				</div>
			{% endif %}
			<form method="POST">
				<div class="form-group">
					<label for="term1">Term 1</label>
					{% if source is defined %}
						<input id="term1" name="term1" class="form-control" value="{{term1}}">
					{% else %}
						<input id="term1" name="term1" class="form-control">
					{% endif %}
				</div>
                <div class="form-group">
					<label for="term2">Term 2</label>
					{% if source is defined %}
						<input id="term2" name="term2" class="form-control" value="{{term2}}">
					{% else %}
						<input id="term2" name="term2" class="form-control">
					{% endif %}
				</div>
                <div class="form-group">
					<label for="source">Source / database</label>
					{% if source is defined %}
						<textarea id="source" name="source" class="form-control h-100">{{source}}</textarea>
					{% else %}
						<textarea id="source" name="source" class="form-control h-100"></textarea>
					{% endif %}
				</div>
				<button class="btn btn-primary">Submit</button>
			</form>


		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
